<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="emailService" class="net.htmlonline.events.EmailService">
        <property name="blackList">
            <list>
                <value>m@outlook.com</value>
                <value>m2@outlook.com</value>
            </list>
        </property>
    </bean>

    <bean class="net.htmlonline.events.BlackListNotifier">
        <property name="notificationAddress" value="m@outlook.com"/>
    </bean>
</beans>