<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="parentTemp" class="net.htmlonline.beans.di.SetterParentDiBean">-->
    <!--<bean id="parentTemp" abstract="true">-->
    <bean id="parentTemp" lazy-init="true">
        <property name="age" value="18"/>
        <property name="name" value="小王"/>
    </bean>

    <!-- setter di -->
    <bean class="net.htmlonline.beans.di.SetterDiBean" parent="parentTemp">
        <property name="beanA" ref="beanA"/>
        <!-- override age -->
        <property name="age" value="19"/>
        <!--<property name="name" value="小王"/>-->

        <!-- properties -->
        <property name="myProperties">
            <list>
                <value>a8</value>
                <value>a9</value>
            </list>
        </property>

    </bean>

    <!-- constructor di-->
    <bean class="net.htmlonline.beans.di.ConstructorDiBean">
        <constructor-arg value="1" type="java.lang.Integer"/>
        <constructor-arg value="小马"/>
    </bean>

    <!-- factory di-->
    <bean class="net.htmlonline.beans.di.FactoryMethodDiBean" factory-method="createInstance">
        <constructor-arg value="1" type="java.lang.Integer"/>
        <constructor-arg value="小马"/>
    </bean>
</beans>