<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="buildInEventBean" class="net.htmlonline.events.BuildInEventBean"/>


    <!-- customer event -->
    <!-- a bean implements -->
    <bean name="demoEventBean" class="net.htmlonline.events.custom.DemoEventBean"/>
    <bean name="demoEventPublisher" class="net.htmlonline.events.custom.DemoEventPublisher"/>
</beans>